
@{
    ViewBag.Title = "Consultoria";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Consultoria</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner text-center" role="listbox">
                <div class="item active">
                    <img src="~/images/servicos/consultoria/1.jpg" alt="">
                </div>

                <div class="item">
                    <img src="~/images/servicos/consultoria/2.jpg" alt="">
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Próxima</span>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-sm-offset-1">
        <div class="row">
            <h3>Elaboração de laudos técnicos:</h3>
            <div class="col-sm-12">
                <p>
                    Na compra de um imovel ou reforma é de suma importancia se esta apto a acrescimo de pavimento, elétrica e hidráulica estão bem projetada, a ventilação
                    e insolação foram elaboradas, principalmente estruturalmente a edificação foi bem dimensionada não arrisque com estão considerações.
                    Nós temos os melhores profissionais e utilizamos a tecnologia mais avançada para que você possa ficar tranquilo.
                </p>
            </div>
        </div>
        <div class="row">
            <h3>Acessoria na escolha do terreno:</h3>
            <div class="col-sm-12">
                <p>
                    Na compra de um terreno acessoramos nas questões primordiais para o projeto da edificação como insolação, impacto com vizinhos, aproveitamento do
                    declive ou aclive e principalmento a característica do solo do terreno. Nós temos os melhores profissionais e utilizamos a tecnologia mais avançada para seu empreendimento.
                </p>
            </div>
        </div>
        <div class="row">
            <h3>Prefeitura Aprovações / Regularizações / Desdobro:</h3>
            <div class="col-sm-12">
                <p>Esta atividade requer obrigatoriamente um profissional habilitado e apto a representar o cliente junto a Prefeitura.</p>

                ​<p>
                    Toda construção nova deve ser antecedida de um projeto oficial “planta de prefeitura”. Para este processo, obrigatoriamente é requerido um profissional
                    habilitado e inscrito no município, estando então apto a representar o cliente junto a Prefeitura.
                </p>
            </div>
        </div>
    </div>
</div>

