
@{
    ViewBag.Title = "Serviços";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Serviços</h2>
        <p>
            A equipe da TAVARUA reúne um conjunto multidisciplinar de competências técnicas capaz de assumir com sucesso os desafios mais exigentes dos seus clientes. 
            O trabalho desenvolvido pela TAVARUA tem por base uma organização interna gerida por processos, que observa rigorosos critérios de qualidade alinhados com a 
            Missão, Visão e Valores da empresa. A TAVARUA é uma empresa especializada em infraestruturas de transportes, que oferece Consultoria Técnica e Planejamento, 
            Estudos e Projetos de engenharia, Supervisão e Fiscalização de Obras, Gerenciamento e apoio à Operação e a Manutenção dos empreendimentos.
        </p>
    </div>
</div>
<br /><br /><br />
<div class="row text-center">
    <div class="col-lg-4">
        <img class="img-circle" src="/images/heading_1.jpg" alt="Heading 1" width="140" height="140">
        <h2>Estudos e Projetos</h2>
        <p>Com uma vasta experiência em projetos de infraestruturas de transportes, urbanismo e edificações, a TAVARUA destaca-se pela multidisciplinaridade das suas competências técnicas.</p>
        <p><a class="btn btn-default" href="/Service/Project" role="button">Conheça »</a></p>
    </div>
    <div class="col-lg-4">
        <img class="img-circle" src="~/images/heading_2.jpg" alt="Heading 2" width="140" height="140">
        <h2>Gerenciamento</h2>
        <p>
            A TAVARUA garante a supervisão geral do empreendimento, representando os clientes na Supervisão, Fiscalizaçãoe Gestão Ambiental das obras, assegurando o cumprimento dos prazos e dos 
            requisitos técnicos e financeiros do contrato. A TAVARUA faz a análise dos projetos, o controle tecnológico, topográfico e geométrico das obras, com o acompanhamento das metodologias 
            executivas, medições e verificação sistemática da qualidade dos serviços executados, realizando o Controle Tecnológico e da Qualidade dos materiais.
        </p>
        <p><a class="btn btn-default" href="/Service/Management" role="button">Conheça »</a></p>
    </div>
    <div class="col-lg-4">
        <img class="img-circle" src="~/images/heading_3.jpg" alt="Heading 3" width="140" height="140">
        <h2>Consultoria</h2>
        <p>
            A TAVARUA oferece apoio ao Gerenciamento na elaboração de projetos e na implantação de obras, com adequado planejamento, coordenação de projetos, supervisão e controle
             da execução das obras e demais atividades abrangidas no escopo da cada contratação.
        </p>
        <p><a class="btn btn-default" href="/Service/Consulting" role="button">Conheça »</a></p>
    </div>
</div>
