
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">            
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
            </ol>
            
            <div class="carousel-inner text-center" role="listbox">
                <div class="item active">
                    <img src="~/images/home/carousel/1" alt="">
                </div>

                <div class="item">
                    <img src="~/images/home/carousel/2.png" alt="">
                </div>

                <div class="item">
                    <img src="~/images/home/carousel/3.png" alt="">
                </div>

                <div class="item">
                    <img src="~/images/home/carousel/4.png" alt="">
                </div>

                <div class="item">
                    <img src="~/images/home/carousel/5.png" alt="">
                </div>

                <div class="item">
                    <img src="~/images/home/carousel/6.jpg" alt="">
                </div>

                <div class="item">
                    <img src="~/images/home/carousel/7.jpg" alt="">
                </div>

                <div class="item">
                    <img src="~/images/home/carousel/8.jpg" alt="">
                </div>
            </div>
            
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Próxima</span>
            </a>
        </div>
    </div>
</div>
<div class="row destaque">
    <div class="col-lg-4">
        <img class="img-circle" src="/images/heading_1.jpg" alt="Heading 1" width="140" height="140">
        <h2>Estudos e Projetos</h2>
        <p><a class="btn btn-default" href="/Service/Project" role="button">Conheça »</a></p>
    </div>
    <div class="col-lg-4">
        <img class="img-circle" src="~/images/heading_2.jpg" alt="Heading 2" width="140" height="140">
        <h2>Gerenciamento</h2>
        <p><a class="btn btn-default" href="/Service/Management" role="button">Conheça »</a></p>
    </div>
    <div class="col-lg-4">
        <img class="img-circle" src="~/images/heading_3.jpg" alt="Heading 3" width="140" height="140">
        <h2>Consultoria</h2>
        <p><a class="btn btn-default" href="/Service/Consulting" role="button">Conheça »</a></p>
    </div>
</div>


