
@{
    ViewBag.Title = "Sobre";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Sobre</h2>
        <p>
            Estabelecer um amplo aprendizado, a partilha de conhecimentos e a composição de informações que caracterizaram o trabalho da equipe TAVARUA.
            Os contatos direto com os diversos clientes deram à TAVARUA a oportunidade de compreender as prioridades do setor público Brasileiro agregando experiência,
            e aumentando a capacidade de atender as exigências de cada Municipio garantindo sempre responsabilidade, rigor e qualidade arquitêtónica em cada trabalho.
            Buscamos conduzir a competência da equipe multidisciplinar que compõem a TAVARUA, bem como singularidade e qualidade de cada projeto com intenção de vincular os seus valores e
            dar continuidade a uma prática de principios, conceitos, conhecimentos e competências que assumidamente destinguem esta empresa.
        </p>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-sm-12">
        <h2 class="text-center">A Nossa Filosofia</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-4">
        <h2>Missão</h2>
        <p>A Tavarua procura assegurar a confiança e parceria sólida com cada Cliente, garantindo o rigor e eficácia na concretização de cada Projeto.
            Confiança na qualidade e sustentabilidade de cada projeto.
            Parceria em encontrar soluções eficientes para todos os projetos e ao longo de cada etapa dos mesmos.</p>
    </div>
    <div class="col-sm-4">
        <h2>Visão</h2>
        <p>A TAVARUA pretende ser uma referência na inovação das suas propostas  e projetos indo de encontro da evolução do Estado Social e sua relação com o meio nas suas diversas variantes,
            tais como Educação, Cultura, Saúde, Mobilidade…. Procura a excelência absoluta no serviço prestado para que cada projeto seja um veículo de aproximação e interação da sociedade 
            beneficiando direta ou indiretamente cada usuário.</p>
    </div>
    <div class="col-sm-4">
        <h2>Valor</h2>
        <p>A TAVARUA está especialmente comprometida com a Disciplina e Rigor da sua equipe no desenvolvimento da sua atividade.
            Idoneidade, Responsabilidade , Integridade e Crescimento Sustentável norteiam a Inplenitus na consolidação das relações com cliente, parceiros, e colaboradores.</p>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-sm-12">
        <h3 class="text-center">Oferecemos soluções para todas as etapas de sua obra</h3>
    </div>
</div>
<br />
<div class="row vcenter">
    <div class="col-sm-1">
        <i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i>
    </div>
    <div class="col-sm-4">
        <h4>Documentação detalhada</h4>
        <p>Todas as etapas e cálculos da obra, estão apresentadas em memórias de cálculos, em todo seu concebmento.</p>
    </div>
    <div class="col-sm-1 col-sm-offset-2">
        <i class="fa fa-users fa-4x" aria-hidden="true"></i>
    </div>
    <div class="col-sm-4">
        <h4>Trabalhamos com Ideias</h4>
        <p>É um imenso prazer atender as ideias e necessidades de nossos clientes, pois não se trata apenas de negócio, mas sim de realização de um sonho de uma família.</p>
    </div>
</div>
<div class="row vcenter">
    <div class="col-sm-1">
        <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
    </div>
    <div class="col-sm-4">
        <h4>Rápido e Confiável</h4>
        <p>Para a seu empreendimento ser bem sucedido é importante que tudo esteja viabilizado no projeto, evitando retrabalho, desperdício de tempo, materiais e dinheiro.</p>
    </div>
    <div class="col-sm-1 col-sm-offset-2">
        <i class="fa fa-eye fa-4x" aria-hidden="true"></i>
    </div>
    <div class="col-sm-4">
        <h4>Visão</h4>
        <p>Viabilizar negócios na construção civil com foco na inovação, qualidade e satisfação do cliente, buscando sempre a melhoria contínua.</p>
    </div>
</div>

