
@{
    ViewBag.Title = "Portifólio";
}

<div class="row">
    <div class="col-md-4 img-portfolio">
        <a href="#">
            <img class="img-responsive img-hover" src="~/images/portifolio/infra.jpg" alt="">
        </a>
        <h3>
            <a href="#">Infraestrutura</a>
        </h3>
    </div>
    <div class="col-md-4 img-portfolio">
        <a href="#">
            <img class="img-responsive img-hover" src="~/images/portifolio/urbanismo.jpg" alt="">
        </a>
        <h3>
            <a href="#">Urbanismo</a>
        </h3>
    </div>
    <div class="col-md-4 img-portfolio">
        <a href="#">
            <img class="img-responsive img-hover" src="~/images/portifolio/arquitetura.png" alt="">
        </a>
        <h3>
            <a href="#">Arquitetura</a>
        </h3>
    </div>
</div>

